:root {
  --main-color: #1c1c1c;
  --text-color-light: #748182;
  --text-color-dark: #343434;
  --transition-main: all 0.5s ease;
  --text-mont: 'Montserrat', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-color-light);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color-dark);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-section {
  background-color: #f7f7f7;
}

.special-header {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-header h2 {
  font-size: 40px;
  font-weight: 900;
  position: relative;
  z-index: 2;
}

.special-header h2::before {
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: -3px;
  left: 0;
  background-image: url(../imgs/dots.png);
  z-index: -1;
}

/* SECTION NAVBAR ================================ */
.navbar-section .navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.navbar-section .navbar-brand {
  letter-spacing: 1px;
}

.navbar-section .navbar-brand,
.navbar-section .navbar-brand:hover,
.navbar-section .navbar-brand:focus,
.navbar-section .nav-link,
.navbar-section .navbar-nav .nav-link.active,
.navbar-section .nav-link:hover,
.navbar-section .nav-link:focus {
  color: #fff;
}

.navbar-section .nav-link,
.navbar-section .nav-link.active {
  position: relative;
}

.navbar-section .nav-link::before,
.navbar-section .nav-link.active::before {
  content: '';
  background-color: #fff;
  height: 2px;
  width: 0;
  position: absolute;
  display: block;
  left: 0px;
  bottom: 5px;
  transition: var(--transition-main);
}

.navbar-section .nav-link.active::before {
  width: 100%;
}

.navbar-section .navbar-toggler:focus {
  box-shadow: none;
}

/* SECTION HERO ================================ */

.hero-section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../imgs/hero-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
  overflow: hidden;
}

.hero-section h3 {
  font-size: 2.5rem;
  line-height: 55px;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.hero-section h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.hero-section h1::after {
  content: '';
  font-weight: 500;
  margin-left: 0.8rem;

  animation-name: word;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* prettier-ignore */
@keyframes word {
  0% {content: '|';}
  4% {content: 'Lar |';}
  8% {content: 'Larry |';}
  12% {content: 'Larry Da |';}
  16% {content: 'Larry Dani |';}
  20% {content: 'Larry Daniel |';}
  24% {content: 'Larry Daniels |';}
  27% {content: 'Larry Daniel |';}
  30% {content: 'Larry Dani |';}
  33% {content: 'Larry Da |';}
  37% {content: 'Larry |';}
  40% {content: 'Lar |';}
  44% {content: '|';}
  47% {content: 'De |';}
  50% {content: 'Deve |';}
  54% {content: 'Develo |';}
  58% {content: 'Developer |';}
  62% {content: 'Develo |';}
  68% {content: 'Deve |';}
  71% {content: 'De |';}
  76% {content: '|';}
  79% {content: 'De |';}
  82% {content: 'Desi |';}
  85% {content: 'Design |';}
  88% {content: 'Designer |';}
  90% {content: 'Design |';}
  93% {content: 'Desi |';}
  97% {content: 'De |';}
  100% {content: '|';}
}

.hero-section .social-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;

  animation-name: overlay;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes overlay {
  0% {
    top: 50%;
    transform: translateY(-50%);
    border-top: 500px solid white;
    border-bottom: 500px solid white;
  }
  10% {
    height: 800px;
  }
  99% {
    top: 50%;
    height: 1000px;
    transform: translateY(-50%);
    border-top: 0 solid white;
    border-bottom: 0 solid white;
  }
  100% {
    display: none;
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: black rgba(180, 180, 180, 0.8) rgba(180, 180, 180, 0.8)
    rgba(180, 180, 180, 0.8);
  border-width: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinner;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  visibility: hidden;
}

@keyframes spinner {
  0% {
    visibility: visible;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/* SECTION ABOUT ================================ */

.about-section .dots-bg {
  position: absolute;
  left: -30px;
  bottom: -30px;
  width: 100%;
  height: 90%;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.about-section .header {
  font-weight: 800;
  margin-bottom: 5px;
}

.about-section .subheader {
  font-size: 0.875rem;
  color: rgb(153, 153, 153);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.about-section .info {
  font-size: 0.9375rem;
  line-height: 25px;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.about-section .progress {
  background-color: #fff;
  box-shadow: inset 3px 5px 7px rgba(0, 0, 0, 0.08),
    inset -3px -5px 7px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5rem;
}

.about-section .progress-bar {
  background-color: var(--main-color);
}

.about-section .progress-bar span {
  font-family: var(--text-mont);
  font-weight: 500;
  font-size: 13px;
}

.about-section .buttons .btn {
  font-size: 13px;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  transition: var(--transition-main);
}

.about-section .buttons .btn-black {
  background-color: var(--main-color);
  color: white;
}

.about-section .buttons .btn-black:hover {
  background-color: white;
  color: var(--main-color);
}

.about-section .buttons .btn-white:hover {
  background-color: var(--main-color);
  color: white;
}

/* SECTION Services ================================ */

.services-section .icon {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  transition: var(--transition-main);
}

.services-section .services-card h3 {
  font-size: 18px;
  font-weight: 800;
}

.services-section .services-card p {
  font-size: 14px;
  line-height: 22px;
}

.services-section .services-card:hover .icon {
  background-color: var(--main-color);
  color: #fff;
}
/* SECTION PORTFOLIO ================================ */

.portfolio-image {
  position: relative;
}

.portfolio-image .p-overlay {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-main);
}

.portfolio-image .p-overlay h4 {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  transform: translateY(-20px);
  transition: var(--transition-main);
}

.portfolio-image .p-overlay i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  color: #fff;
  background-color: var(--main-color);

  transform: translateY(20px);
  transition: var(--transition-main);
}

.portfolio-image .p-overlay i:hover {
  color: var(--main-color);
  background-color: #fff;
}

.portfolio-image:hover .p-overlay {
  visibility: visible;
  opacity: 1;
}

.portfolio-image:hover .p-overlay i,
.portfolio-image:hover .p-overlay h4 {
  transform: translateY(0);
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: var(--main-color);
  position: relative;
}

.nav-tabs .nav-link.active {
  background: none;
  color: var(--main-color);
  position: relative;
}

.nav-tabs .nav-link::after,
.nav-tabs .nav-link.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -5px;
  transition: var(--transition-main);
}

.nav-tabs .nav-link.active::after {
  width: 100%;
}

/* SECTION TESTIMONIAL ================================ */

.testimonial-section {
  padding-bottom: 120px;
}

.testimonial-card p {
  font-size: 15px;
  line-height: 24px;
}

.testimonial-card .author h4 {
  font-size: 16px;
  font-weight: 600;
}

.testimonial-card .author span {
  font-size: 12px;
  font-weight: 600;
}

.carousel-indicators {
  bottom: -70px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--main-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

/* SECTION COUNTER ================================ */
.counter-section i {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.counter-section h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.counter-section p {
  font-size: 15px;
  font-weight: 600;
}

/* SECTION OUR TEAM ================================ */

.team-card .team-overlay {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  z-index: 2;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.5) rotateY(180deg);

  transition: var(--transition-main);
}

.team-card .team-image-container .team-image {
  transition: var(--transition-main);
}

.team-card .team-image-container:hover .team-image {
  transform: scale(1.2);
}
.team-card .team-image-container:hover .team-overlay,
.team-card:hover .team-overlay {
  visibility: visible;
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}

.team-card .team-overlay i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #fff;
  transition: var(--transition-main);
}

.team-card .team-overlay i:hover {
  color: var(--main-color);
  background-color: #fff;
}

.team-section .team-details {
  background-color: #5b5b5b;
}

.team-section .team-details h5 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.team-section .team-details h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

/* SECTION FOOTER ================================ */

footer {
  background-color: var(--main-color);
  font-size: 14px;
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .hero-section h3 {
    font-size: 3.125rem;
    margin-bottom: 2rem;
  }

  .hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
