/* 
### Font sizes (px)
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### SPACING SYSTEM (px)
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --inter-font: 'Inter', sans-serif;
  --amatic-font: 'Amatic SC', sans-serif;
}

html {
  font-size: 62.5%; /* 100/(16px*10px)= 62.5  10px easy to calc rem unit*/
}

body {
  font-family: var(--inter-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}
