@media screen and (max-width: 1340px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 950px;
  }
  .nav-links {
    order: 1;
  }

  .menu {
    background-color: white;
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
  }

  .nav-transition {
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 25rem;
    padding: 4rem;
    height: 50rem;
    transform: translateX(100%);
    transition: var(--transition-4);
  }

  .nav-links:hover .nav-transition {
    transform: translateX(0);
  }
}

@media screen and (max-width: 994px) {
  .container {
    max-width: 750px;
  }
  .hero-section .container {
    flex-direction: column;
  }
  .hero-details {
    order: 1;
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    max-width: 100%;
    margin-bottom: 4.6rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 590px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
