.navbar {
  background-color: #fff;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1rem 0 5rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.menu {
  display: none;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}
.navbar-header::after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  right: -8px;
  top: 70%;
}

.nav-transition {
  display: flex;
  gap: 3rem;
}

.nav-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #888;
  position: relative;
  transition: var(--transition-4);
}

.nav-link.active {
  color: #222;
}

.nav-link::after,
.nav-link.active::after {
  content: '';
  display: block;
  height: 2px;
  bottom: -5px;
  width: 0;
  left: 0;
  background-color: var(--main-color);
  position: absolute;
  transition: var(--transition-4);
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: #222;
}

.nav-link:hover::after {
  width: 100%;
}

.dark-mood {
  position: relative;
}
.dark-mood i {
  font-size: 2.5rem;
  transition: var(--transition-4);
  cursor: pointer;
}

.sun {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.dark-mood:hover .sun {
  opacity: 1;
}
.dark-mood:hover .moon {
  opacity: 0;
}

/* SECTION:- HERO */

.hero-section {
  padding: 13rem 0 4.8rem 0;
  background-color: #eee;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-details {
  max-width: 40%;
}

.hero-details h2 {
  font-family: var(--amatic-font);
  font-size: 6.5rem;
  font-weight: 700;
  color: rgb(55, 55, 63);
  margin-bottom: 3.2rem;
}

.hero-details p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgb(79, 79, 90);
  margin-bottom: 2.4rem;
}
.btn-book {
  font-size: 1.5rem;
  border: none;
  background-color: var(--main-color);
  padding: 1.6rem 3.2rem;
  color: #fff;
  margin-right: 1.6rem;
  border-radius: 0 111rem 111rem 111rem;
  cursor: pointer;
  transition: var(--transition-4);
}

.btn-book:hover {
  background-color: var(--main-color-hover);
}

.btn-watch {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: transparent;
  transition: var(--transition-4);
}

.btn-watch:hover {
  color: var(--main-color);
}

.btn-watch span {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.9rem;
}

.btn-watch .circle {
  width: 5.7rem;
  height: 5.7rem;
  background-image: linear-gradient(
    to right,
    red 50%,
    rgba(255, 255, 255, 0) 50%
  );
  position: relative;
}

.btn-watch .icon-span,
.btn-watch .play-icon {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image {
  max-width: 40%;
}

.hero-image img {
  filter: drop-shadow(1rem 1rem 3rem rgba(0, 0, 0, 0.5));
}
.hero-image img:hover {
  animation-name: rotate-image;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes rotate-image {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* SECTION:- CHEFS */

.chefs-section {
  padding: 6.4rem 0 6.4rem;
  text-align: center;
}

.chefs-section .chefs-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
}

.chef-card {
  max-width: calc(100% / 3 - 1.2rem);
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.08);
  transition: var(--transition-4);
  position: relative;
}

.chef-card:hover {
  transform: scale(1.05);
}

.chef-image {
  max-width: 100%;
  position: relative;
}

.chefs-section .svg {
  position: absolute;
  bottom: -2rem;
  left: 0;
}
.chef-details {
  padding: 2rem;
}

.chef-details h4 {
  font-size: 1.9rem;
  font-weight: 700;
  color: rgb(33, 37, 41);
  margin-bottom: 0.8rem;
}

.chef-details span {
  display: inline-block;
  font-size: 1.4rem;
  color: rgb(127, 127, 144);
  margin-bottom: 1.2rem;
}
.chef-details p {
  font-size: 1.5rem;
  color: rgb(127, 127, 144);
  line-height: 2rem;
}

.chef-card .social-media {
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  padding: 1.6rem;
  top: 3rem;
  right: 2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transform: translateX(150%);
  transition: var(--transition-4);
  transition-delay: 0.5s;
}

.chef-card .social-media i {
  font-size: 1.8rem;
  transition: var(--transition-4);
}

.chef-card .social-media i:hover {
  color: var(--main-color);
}

.chef-card:hover .social-media {
  transform: translateX(0);
}

/* SECTION:- GALLARY */

.gallery-section {
  padding: 4.8rem 0 4.8rem;
  text-align: center;
  background-color: #eee;
}

.gallery-section .gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 2.4rem;
  height: 120rem;
}

.gallery-section .gallery-img {
  border: 3px solid #fff;
  max-width: calc(100% / 3 - 1.6rem);
  overflow: hidden;
  position: relative;
  color: #fff;
}
.gallery-img img {
  transition: var(--transition-4);
}

.gallery-img:hover img {
  transform: scale(1.08);
}

.gallery-img .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 2.4rem;
  gap: 1.2rem;
  transition: var(--transition-4);
}

.gallery-img .overlay h4 {
  font-size: 2.4rem;
  font-weight: 700;
}

.gallery-img .overlay p {
  font-size: 1.6rem;
  color: rgb(221, 221, 221);
  line-height: 1.8rem;
}

.gallery-img:hover .overlay {
  opacity: 1;
  height: 100%;
}

/* 
### Font sizes (px)
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### SPACING SYSTEM (px)
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */
