:root {
  --bg-darker: #1e202b;
  --bg-darkd: #262936;
  --primary-color: #009ad8;
  --main-transition: all 0.4s ease;
}
body {
  background-color: var(--bg-darker);
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  background-color: var(--bg-darker);
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: #fff;
  transition: var(--main-transition);
  padding: 3px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
  border-radius: 50px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 4px var(--primary-color);
}

/* NOTE: hero section */

.hero {
  background-image: url(../imgs/banner.png);
  min-height: 100vh;
  background-repeat: no-repeat;
}

/* NOTE: footer */
.footer {
  background-color: var(--bg-darkd);
}

.footer input {
  background-color: var(--bg-darker);
  border: none;
}
.footer button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

.footer .icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-darker);
  color: var(--primary-color);
  transition: var(--main-transition);
}

.footer .icons i:hover {
  background-color: var(--primary-color);
  color: #fff;
}
